In [1]:
import pandas as pd
df2 = pd.read_csv('/content/df_preprocessed.csv')
#print(df)
df2.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2

In [2]:
df2

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,2,179,22,40,237.656,22,1,2,0,8
696,1,0,0,0,5,2,225,26,28,237.656,24,0,1,2,3
697,1,0,0,0,5,3,330,16,28,237.656,25,1,0,0,8
698,0,0,0,1,5,3,235,16,32,237.656,25,1,0,0,2
699,0,0,0,1,5,3,291,31,40,237.656,25,0,1,1,2

In [3]:
df = pd.read_csv('/content/Absenteeism_data.csv')
#print(df)
df.head()

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [4]:
df['Education'].unique()

array([1, 3, 2, 4])

In [5]:
df['Education'] = df['Education'].apply(lambda x: 0 if x == 1 else 1)

In [6]:
df=df

In [7]:
df

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,0,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,0,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,0,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,0,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,0,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
695,17,10,23/05/2018,179,22,40,237.656,22,1,2,0,8
696,28,6,23/05/2018,225,26,28,237.656,24,0,1,2,3
697,18,10,24/05/2018,330,16,28,237.656,25,1,0,0,8
698,25,23,24/05/2018,235,16,32,237.656,25,1,0,0,2
699,15,28,31/05/2018,291,31,40,237.656,25,0,1,1,2

In [8]:
df=df.drop("ID",axis=1)

In [9]:
len(df['Reason for Absence'].unique())

28

In [10]:
df['Reason for Absence'].unique()

array([26,  0, 23,  7, 22, 19,  1, 11, 14, 21, 10, 13, 28, 18, 25, 24,  6,
       27, 17,  8, 12,  5,  9, 15,  4,  3,  2, 16])

In [11]:
dummies = pd.get_dummies(df['Reason for Absence'], prefix='Reason_e')

In [12]:
reason_1a = dummies.columns[0:14]
reason_2a = dummies.columns[14:17]
reason_3a = dummies.columns[17:21]
reason_4a = dummies.columns[21:28]

reason_1 = dummies[reason_1a]
reason_2 = dummies[reason_2a]
reason_3 = dummies[reason_3a]
reason_4 = dummies[reason_4a]

In [13]:
df = pd.concat([df, reason_1,reason_2,reason_3,reason_4], axis=1)
#df = pd.concat([df, dummies[reason_1], dummies[reason_2], dummies[reason_3], dummies[reason_4]], axis=1)

In [14]:
df.columns

Index(['Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average', 'Body Mass Index',
       'Education', 'Children', 'Pets', 'Absenteeism Time in Hours',
       'Reason_e_0', 'Reason_e_1', 'Reason_e_2', 'Reason_e_3', 'Reason_e_4',
       'Reason_e_5', 'Reason_e_6', 'Reason_e_7', 'Reason_e_8', 'Reason_e_9',
       'Reason_e_10', 'Reason_e_11', 'Reason_e_12', 'Reason_e_13',
       'Reason_e_14', 'Reason_e_15', 'Reason_e_16', 'Reason_e_17',
       'Reason_e_18', 'Reason_e_19', 'Reason_e_21', 'Reason_e_22',
       'Reason_e_23', 'Reason_e_24', 'Reason_e_25', 'Reason_e_26',
       'Reason_e_27', 'Reason_e_28'],
      dtype='object')

In [15]:
reason1s_colums=['Reason_e_1', 'Reason_e_2', 'Reason_e_3', 'Reason_e_4', 'Reason_e_5','Reason_e_6', 'Reason_e_7', 'Reason_e_8', 'Reason_e_9', 'Reason_e_10','Reason_e_11', 'Reason_e_12', 'Reason_e_13', 'Reason_e_14']

#def check_evet(row):
 #   for col in reason1s_colums:
  #      if row[col] == 'True':
   #         return 1
    #return 0
#df['Reason_1'] = df.apply(check_evet, axis=1)

df[reason1s_colums] = df[reason1s_colums].astype(bool)

# Check if any of the columns contain True for each row
df['Reason_1'] = df[reason1s_colums].any(axis=1).astype(int)
#df['Reason_1'] = df['Reason_1']
print(df)

     Reason for Absence        Date  Transportation Expense  Distance to Work  \
0                    26  07/07/2015                     289                36
1                     0  14/07/2015                     118                13
2                    23  15/07/2015                     179                51
3                     7  16/07/2015                     279                 5
4                    23  23/07/2015                     289                36
..                  ...         ...                     ...               ...
695                  10  23/05/2018                     179                22
696                   6  23/05/2018                     225                26
697                  10  24/05/2018                     330                16
698                  23  24/05/2018                     235                16
699                  28  31/05/2018                     291                31

     Age  Daily Work Load Average  Body Mass Index  Education  Children  Pets  \
0     33                  239.554               30          0         2     1
1     50                  239.554               31          0         1     0
2     38                  239.554               31          0         0     0
3     39                  239.554               24          0         2     0
4     33                  239.554               30          0         2     1
..   ...                      ...              ...        ...       ...   ...
695   40                  237.656               22          1         2     0
696   28                  237.656               24          0         1     2
697   28                  237.656               25          1         0     0
698   32                  237.656               25          1         0     0
699   40                  237.656               25          0         1     1

     ...  Reason_e_19  Reason_e_21  Reason_e_22  Reason_e_23  Reason_e_24  \
0    ...        False        False        False        False        False
1    ...        False        False        False        False        False
2    ...        False        False        False         True        False
3    ...        False        False        False        False        False
4    ...        False        False        False         True        False
..   ...          ...          ...          ...          ...          ...
695  ...        False        False        False        False        False
696  ...        False        False        False        False        False
697  ...        False        False        False        False        False
698  ...        False        False        False         True        False
699  ...        False        False        False        False        False

     Reason_e_25  Reason_e_26  Reason_e_27  Reason_e_28  Reason_1
0          False         True        False        False         0
1          False        False        False        False         0
2          False        False        False        False         0
3          False        False        False        False         1
4          False        False        False        False         0
..           ...          ...          ...          ...       ...
695        False        False        False        False         1
696        False        False        False        False         1
697        False        False        False        False         1
698        False        False        False        False         0
699        False        False        False         True         0

[700 rows x 40 columns]

In [16]:
reason2s_colums=['Reason_e_15', 'Reason_e_16', 'Reason_e_17']
"""""
def check_evet(row):
    for col in reason2s_colums:
        if row[col] == 'True':
            return 1
    return 0
df['Reason_2'] = df.apply(check_evet, axis=1)
"""
df[reason2s_colums] = df[reason2s_colums].astype(bool)

# Check if any of the columns contain True for each row
df['Reason_2'] = df[reason2s_colums].any(axis=1).astype(int)
#df['Reason_1'] = df['Reason_1']
print(df)

     Reason for Absence        Date  Transportation Expense  Distance to Work  \
0                    26  07/07/2015                     289                36
1                     0  14/07/2015                     118                13
2                    23  15/07/2015                     179                51
3                     7  16/07/2015                     279                 5
4                    23  23/07/2015                     289                36
..                  ...         ...                     ...               ...
695                  10  23/05/2018                     179                22
696                   6  23/05/2018                     225                26
697                  10  24/05/2018                     330                16
698                  23  24/05/2018                     235                16
699                  28  31/05/2018                     291                31

     Age  Daily Work Load Average  Body Mass Index  Education  Children  Pets  \
0     33                  239.554               30          0         2     1
1     50                  239.554               31          0         1     0
2     38                  239.554               31          0         0     0
3     39                  239.554               24          0         2     0
4     33                  239.554               30          0         2     1
..   ...                      ...              ...        ...       ...   ...
695   40                  237.656               22          1         2     0
696   28                  237.656               24          0         1     2
697   28                  237.656               25          1         0     0
698   32                  237.656               25          1         0     0
699   40                  237.656               25          0         1     1

     ...  Reason_e_21  Reason_e_22  Reason_e_23  Reason_e_24  Reason_e_25  \
0    ...        False        False        False        False        False
1    ...        False        False        False        False        False
2    ...        False        False         True        False        False
3    ...        False        False        False        False        False
4    ...        False        False         True        False        False
..   ...          ...          ...          ...          ...          ...
695  ...        False        False        False        False        False
696  ...        False        False        False        False        False
697  ...        False        False        False        False        False
698  ...        False        False         True        False        False
699  ...        False        False        False        False        False

     Reason_e_26  Reason_e_27  Reason_e_28  Reason_1  Reason_2
0           True        False        False         0         0
1          False        False        False         0         0
2          False        False        False         0         0
3          False        False        False         1         0
4          False        False        False         0         0
..           ...          ...          ...       ...       ...
695        False        False        False         1         0
696        False        False        False         1         0
697        False        False        False         1         0
698        False        False        False         0         0
699        False        False         True         0         0

[700 rows x 41 columns]

In [17]:
reason3s_colums=['Reason_e_18', 'Reason_e_19', 'Reason_e_21']
"""
def check_evet(row):
    for col in reason3s_colums:
        if row[col] == 'True':
            return 1
    return 0
df['Reason_3'] = df.apply(check_evet, axis=1)

"""
df[reason3s_colums] = df[reason3s_colums].astype(bool)

# Check if any of the columns contain True for each row
df['Reason_3'] = df[reason3s_colums].any(axis=1).astype(int)
print(df)

     Reason for Absence        Date  Transportation Expense  Distance to Work  \
0                    26  07/07/2015                     289                36
1                     0  14/07/2015                     118                13
2                    23  15/07/2015                     179                51
3                     7  16/07/2015                     279                 5
4                    23  23/07/2015                     289                36
..                  ...         ...                     ...               ...
695                  10  23/05/2018                     179                22
696                   6  23/05/2018                     225                26
697                  10  24/05/2018                     330                16
698                  23  24/05/2018                     235                16
699                  28  31/05/2018                     291                31

     Age  Daily Work Load Average  Body Mass Index  Education  Children  Pets  \
0     33                  239.554               30          0         2     1
1     50                  239.554               31          0         1     0
2     38                  239.554               31          0         0     0
3     39                  239.554               24          0         2     0
4     33                  239.554               30          0         2     1
..   ...                      ...              ...        ...       ...   ...
695   40                  237.656               22          1         2     0
696   28                  237.656               24          0         1     2
697   28                  237.656               25          1         0     0
698   32                  237.656               25          1         0     0
699   40                  237.656               25          0         1     1

     ...  Reason_e_22  Reason_e_23  Reason_e_24  Reason_e_25  Reason_e_26  \
0    ...        False        False        False        False         True
1    ...        False        False        False        False        False
2    ...        False         True        False        False        False
3    ...        False        False        False        False        False
4    ...        False         True        False        False        False
..   ...          ...          ...          ...          ...          ...
695  ...        False        False        False        False        False
696  ...        False        False        False        False        False
697  ...        False        False        False        False        False
698  ...        False         True        False        False        False
699  ...        False        False        False        False        False

     Reason_e_27  Reason_e_28  Reason_1  Reason_2  Reason_3
0          False        False         0         0         0
1          False        False         0         0         0
2          False        False         0         0         0
3          False        False         1         0         0
4          False        False         0         0         0
..           ...          ...       ...       ...       ...
695        False        False         1         0         0
696        False        False         1         0         0
697        False        False         1         0         0
698        False        False         0         0         0
699        False         True         0         0         0

[700 rows x 42 columns]

In [18]:
reason4s_colums=['Reason_e_22', 'Reason_e_23', 'Reason_e_24', 'Reason_e_25', 'Reason_e_26', 'Reason_e_27', 'Reason_e_28']
"""
def check_evet(row):
    for col in reason4s_colums:
        if row[col] == 'True':
            return 1
    return 0
df['Reason_4'] = df.apply(check_evet, axis=1)
"""
df[reason4s_colums] = df[reason4s_colums].astype(bool)

# Check if any of the columns contain True for each row
df['Reason_4'] = df[reason4s_colums].any(axis=1).astype(int)
print(df)

     Reason for Absence        Date  Transportation Expense  Distance to Work  \
0                    26  07/07/2015                     289                36
1                     0  14/07/2015                     118                13
2                    23  15/07/2015                     179                51
3                     7  16/07/2015                     279                 5
4                    23  23/07/2015                     289                36
..                  ...         ...                     ...               ...
695                  10  23/05/2018                     179                22
696                   6  23/05/2018                     225                26
697                  10  24/05/2018                     330                16
698                  23  24/05/2018                     235                16
699                  28  31/05/2018                     291                31

     Age  Daily Work Load Average  Body Mass Index  Education  Children  Pets  \
0     33                  239.554               30          0         2     1
1     50                  239.554               31          0         1     0
2     38                  239.554               31          0         0     0
3     39                  239.554               24          0         2     0
4     33                  239.554               30          0         2     1
..   ...                      ...              ...        ...       ...   ...
695   40                  237.656               22          1         2     0
696   28                  237.656               24          0         1     2
697   28                  237.656               25          1         0     0
698   32                  237.656               25          1         0     0
699   40                  237.656               25          0         1     1

     ...  Reason_e_23  Reason_e_24  Reason_e_25  Reason_e_26  Reason_e_27  \
0    ...        False        False        False         True        False
1    ...        False        False        False        False        False
2    ...         True        False        False        False        False
3    ...        False        False        False        False        False
4    ...         True        False        False        False        False
..   ...          ...          ...          ...          ...          ...
695  ...        False        False        False        False        False
696  ...        False        False        False        False        False
697  ...        False        False        False        False        False
698  ...         True        False        False        False        False
699  ...        False        False        False        False        False

     Reason_e_28  Reason_1  Reason_2  Reason_3  Reason_4
0          False         0         0         0         1
1          False         0         0         0         0
2          False         0         0         0         1
3          False         1         0         0         0
4          False         0         0         0         1
..           ...       ...       ...       ...       ...
695        False         1         0         0         0
696        False         1         0         0         0
697        False         1         0         0         0
698        False         0         0         0         1
699         True         0         0         0         1

[700 rows x 43 columns]

In [19]:
df=df

In [20]:
df

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,...,Reason_e_23,Reason_e_24,Reason_e_25,Reason_e_26,Reason_e_27,Reason_e_28,Reason_1,Reason_2,Reason_3,Reason_4
0,26,07/07/2015,289,36,33,239.554,30,0,2,1,...,False,False,False,True,False,False,0,0,0,1
1,0,14/07/2015,118,13,50,239.554,31,0,1,0,...,False,False,False,False,False,False,0,0,0,0
2,23,15/07/2015,179,51,38,239.554,31,0,0,0,...,True,False,False,False,False,False,0,0,0,1
3,7,16/07/2015,279,5,39,239.554,24,0,2,0,...,False,False,False,False,False,False,1,0,0,0
4,23,23/07/2015,289,36,33,239.554,30,0,2,1,...,True,False,False,False,False,False,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,10,23/05/2018,179,22,40,237.656,22,1,2,0,...,False,False,False,False,False,False,1,0,0,0
696,6,23/05/2018,225,26,28,237.656,24,0,1,2,...,False,False,False,False,False,False,1,0,0,0
697,10,24/05/2018,330,16,28,237.656,25,1,0,0,...,False,False,False,False,False,False,1,0,0,0
698,23,24/05/2018,235,16,32,237.656,25,1,0,0,...,True,False,False,False,False,False,0,0,0,1
699,28,31/05/2018,291,31,40,237.656,25,0,1,1,...,False,False,False,False,False,True,0,0,0,1

In [21]:
df=df.drop(reason1s_colums, axis=1)

In [22]:
df=df.drop(reason2s_colums, axis=1)

In [23]:
df=df.drop(reason3s_colums, axis=1)

In [24]:
df=df.drop(reason4s_colums, axis=1)

In [25]:
df=df.drop('Reason_e_0', axis=1)

In [26]:
df=df.drop('Reason for Absence', axis=1)

In [27]:
print(df)

           Date  Transportation Expense  Distance to Work  Age  \
0    07/07/2015                     289                36   33
1    14/07/2015                     118                13   50
2    15/07/2015                     179                51   38
3    16/07/2015                     279                 5   39
4    23/07/2015                     289                36   33
..          ...                     ...               ...  ...
695  23/05/2018                     179                22   40
696  23/05/2018                     225                26   28
697  24/05/2018                     330                16   28
698  24/05/2018                     235                16   32
699  31/05/2018                     291                31   40

     Daily Work Load Average  Body Mass Index  Education  Children  Pets  \
0                    239.554               30          0         2     1
1                    239.554               31          0         1     0
2                    239.554               31          0         0     0
3                    239.554               24          0         2     0
4                    239.554               30          0         2     1
..                       ...              ...        ...       ...   ...
695                  237.656               22          1         2     0
696                  237.656               24          0         1     2
697                  237.656               25          1         0     0
698                  237.656               25          1         0     0
699                  237.656               25          0         1     1

     Absenteeism Time in Hours  Reason_1  Reason_2  Reason_3  Reason_4
0                            4         0         0         0         1
1                            0         0         0         0         0
2                            2         0         0         0         1
3                            4         1         0         0         0
4                            2         0         0         0         1
..                         ...       ...       ...       ...       ...
695                          8         1         0         0         0
696                          3         1         0         0         0
697                          8         1         0         0         0
698                          2         0         0         0         1
699                          2         0         0         0         1

[700 rows x 14 columns]

In [28]:
df[['Day', 'Month Value', 'Year']] = df['Date'].str.split('/', expand=True)

# Optionally, convert 'Day', 'Month', 'Year' to numeric if needed
df['Day'] = pd.to_numeric(df['Day'])
df['Month Value'] = pd.to_numeric(df['Month Value'])

In [30]:
# Convert 'Date' column to datetime format
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')

# Extract day of the week (Monday=0, Sunday=6)
df['Day of the Week'] = df['Date'].dt.dayofweek

# Map day of the week integers to weekday names
weekday_map = {0: 'Monday', 1: 'Tuesday', 2: 'Wednesday', 3: 'Thursday', 4: 'Friday', 5: 'Saturday', 6: 'Sunday'}
df['Weekday_Name'] = df['Day of the Week'].map(weekday_map)

# Display the updated DataFrame
print(df)

          Date  Transportation Expense  Distance to Work  Age  \
0   2015-07-07                     289                36   33
1   2015-07-14                     118                13   50
2   2015-07-15                     179                51   38
3   2015-07-16                     279                 5   39
4   2015-07-23                     289                36   33
..         ...                     ...               ...  ...
695 2018-05-23                     179                22   40
696 2018-05-23                     225                26   28
697 2018-05-24                     330                16   28
698 2018-05-24                     235                16   32
699 2018-05-31                     291                31   40

     Daily Work Load Average  Body Mass Index  Education  Children  Pets  \
0                    239.554               30          0         2     1
1                    239.554               31          0         1     0
2                    239.554               31          0         0     0
3                    239.554               24          0         2     0
4                    239.554               30          0         2     1
..                       ...              ...        ...       ...   ...
695                  237.656               22          1         2     0
696                  237.656               24          0         1     2
697                  237.656               25          1         0     0
698                  237.656               25          1         0     0
699                  237.656               25          0         1     1

     Absenteeism Time in Hours  Reason_1  Reason_2  Reason_3  Reason_4  Day  \
0                            4         0         0         0         1    7
1                            0         0         0         0         0   14
2                            2         0         0         0         1   15
3                            4         1         0         0         0   16
4                            2         0         0         0         1   23
..                         ...       ...       ...       ...       ...  ...
695                          8         1         0         0         0   23
696                          3         1         0         0         0   23
697                          8         1         0         0         0   24
698                          2         0         0         0         1   24
699                          2         0         0         0         1   31

     Month Value  Year  Day_of_Week  Day of the Week Weekday_Name
0              7  2015            1                1      Tuesday
1              7  2015            1                1      Tuesday
2              7  2015            2                2    Wednesday
3              7  2015            3                3     Thursday
4              7  2015            3                3     Thursday
..           ...   ...          ...              ...          ...
695            5  2018            2                2    Wednesday
696            5  2018            2                2    Wednesday
697            5  2018            3                3     Thursday
698            5  2018            3                3     Thursday
699            5  2018            3                3     Thursday

[700 rows x 20 columns]

In [31]:
df=df

In [32]:
df = df.drop('Date', axis=1)

In [33]:
df = df.drop('Year', axis=1)
df = df.drop('Day', axis=1)
df = df.drop('Weekday_Name', axis=1)

In [35]:
df = df.drop('Day_of_Week', axis=1)

In [36]:
print (df)

     Transportation Expense  Distance to Work  Age  Daily Work Load Average  \
0                       289                36   33                  239.554
1                       118                13   50                  239.554
2                       179                51   38                  239.554
3                       279                 5   39                  239.554
4                       289                36   33                  239.554
..                      ...               ...  ...                      ...
695                     179                22   40                  237.656
696                     225                26   28                  237.656
697                     330                16   28                  237.656
698                     235                16   32                  237.656
699                     291                31   40                  237.656

     Body Mass Index  Education  Children  Pets  Absenteeism Time in Hours  \
0                 30          0         2     1                          4
1                 31          0         1     0                          0
2                 31          0         0     0                          2
3                 24          0         2     0                          4
4                 30          0         2     1                          2
..               ...        ...       ...   ...                        ...
695               22          1         2     0                          8
696               24          0         1     2                          3
697               25          1         0     0                          8
698               25          1         0     0                          2
699               25          0         1     1                          2

     Reason_1  Reason_2  Reason_3  Reason_4  Month Value  Day of the Week
0           0         0         0         1            7                1
1           0         0         0         0            7                1
2           0         0         0         1            7                2
3           1         0         0         0            7                3
4           0         0         0         1            7                3
..        ...       ...       ...       ...          ...              ...
695         1         0         0         0            5                2
696         1         0         0         0            5                2
697         1         0         0         0            5                3
698         0         0         0         1            5                3
699         0         0         0         1            5                3

[700 rows x 15 columns]

In [40]:
df2.columns

Index(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month Value',
       'Day of the Week', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education', 'Children',
       'Pets', 'Absenteeism Time in Hours'],
      dtype='object')

In [43]:
df = df[['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month Value','Day of the Week', 'Transportation Expense', 'Distance to Work', 'Age','Daily Work Load Average', 'Body Mass Index', 'Education', 'Children','Pets', 'Absenteeism Time in Hours']]

In [44]:
df

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,2,179,22,40,237.656,22,1,2,0,8
696,1,0,0,0,5,2,225,26,28,237.656,24,0,1,2,3
697,1,0,0,0,5,3,330,16,28,237.656,25,1,0,0,8
698,0,0,0,1,5,3,235,16,32,237.656,25,1,0,0,2
699,0,0,0,1,5,3,291,31,40,237.656,25,0,1,1,2

In [45]:
df.to_csv('preprocessed_Absenteeism.csv', index=False)